<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a [routerLink]="['']">صفحه اصلی</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="#">ثبت نام  </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up top-equal blocks-spacer-last">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main Title =  -->
            <!--  ==========  -->

            <div class="span12">
                <div class="title-area">
                    <h1 class="inline"><span class="light"></span>ثبت نام</h1>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span8 single single-page">


                <!--  ==========  -->
                <!--  = Contact Form =  -->
                <!--  ==========  -->
                <section class="contact-form-container">

                    <h3 class="push-down-25"><span class="light">ثبت</span> نام</h3>

                    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" class="form form-inline form-contact">

                        <p class="push-down-20">
                            <label for="firstName">نام<span class="red-clr bold">*</span></label>
                            <input type="text" class="span12" formControlName="firstName" aria-required="true" tabindex="1" required />
                        </p>
                        <p class="text-error" *ngIf="registerForm.controls.firstName.errors?.required && registerForm.controls.firstName.touched">
                            لطفا نام خود را وارد نمایید.
                        </p>
                        <p class="text-error" *ngIf="registerForm.controls.firstName.errors?.maxlength && registerForm.controls.firstName.touched">
                            تعداد کارکتر ها نمی تواند بیشتر از 250 کاراکتر باشد
                        </p>

                        <p class="push-down-20">
                            <label for="lastName">نام خانوادگی<span class="red-clr bold">*</span></label>
                            <input type="text" class="span12" formControlName="lastName" aria-required="true" tabindex="2" required>

                        </p>
                        <p class="text-error" *ngIf="registerForm.controls.lastName.errors?.required && registerForm.controls.lastName.touched">
                            لطفا نام خانوادگی خود را وارد نمایید.
                        </p>

                        <p class="text-error" *ngIf="registerForm.controls.lastName.errors?.maxlength && registerForm.controls.firstName.touched">
                            تعداد کارکتر ها نمی تواند بیشتر از 250 کاراکتر باشد
                        </p>

                        <p class="push-down-20">
                            <label for="email">ایمیل<span class="red-clr bold">*</span></label>
                            <input type="email" class="span12" formControlName="email" aria-required="true" tabindex="3" required>
                        </p>

                        <p class="text-error" *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched">
                            لطفا ایمیل خود را وارد نمایید.
                        </p>
                        <p class="text-error" *ngIf="registerForm.controls.email.errors?.maxlength && registerForm.controls.firstName.touched">
                            تعداد کارکتر ها نمی تواند بیشتر از 250 کاراکتر باشد
                        </p>

                        <p class="text-error" *ngIf="registerForm.controls.email.errors?.email && registerForm.controls.email.touched">
                            فرمت ایمیل وارد نمایید
                        </p>

                        <p class="push-down-20">
                            <label for="password">کلمه عبور<span class="red-clr bold">*</span></label>
                            <input type="password" class="span12" formControlName="password" aria-required="true" tabindex="4" required>

                        </p>


                        <p class="text-error" *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched">
                            لطفا کلمه عبور خود را وارد نمایید.
                        </p>

                        <p class="text-error" *ngIf="registerForm.controls.password.errors?.maxlength && registerForm.controls.firstName.touched">
                            تعداد کارکتر ها نمی تواند بیشتر از 50 کاراکتر باشد
                        </p>

                        <p class="push-down-20">
                            <label for="rePassword">تکرار کلمه عبور<span class="red-clr bold">*</span></label>
                            <input type="password" class="span12" formControlName="rePassword" aria-required="true" tabindex="5" required>

                        </p>

                        <p class="text-error" *ngIf="registerForm.controls.rePassword.errors?.required && registerForm.controls.rePassword.touched">
                            لطفا تکرار کلمه عبور خود را وارد نمایید.
                        </p>

                        <p class="text-error" *ngIf="registerForm.controls.rePassword.errors?.maxlength && registerForm.controls.firstName.touched">
                            تعداد کارکتر ها نمی تواند بیشتر از 50 کاراکتر باشد
                        </p>

                        <p class="push-down-20">
                            <label for="address">آدرس<span class="red-clr bold">*</span></label>
                            <textarea formControlName="address" class="input-block-level span12" tabindex="6" rows="7" cols="70" placeholder="آدرستان را در اینجا بنویسید ..." required></textarea>
                        </p>
                        <p class="text-error" *ngIf="registerForm.controls.address.errors?.required && registerForm.controls.address.touched">
                            لطفا آدرس خود را وارد نمایید.
                        </p>
                        <p class="text-error" *ngIf="registerForm.controls.address.errors?.maxlength && registerForm.controls.firstName.touched">
                            تعداد کارکتر ها نمی تواند بیشتر از 500 کاراکتر باشد
                        </p>
                        <p>
                            <button [disabled]="registerForm.invalid" class="btn btn-primary bold" type="submit" tabindex="5" id="submit">ارسال پیام</button>
                        </p>

                    </form>
                </section>

                <hr />


            </section>
            <!-- /main content -->



        </div>
    </div>
</div>
<!-- /container -->



<swal #sweetAlert title="" text="ایمیل وارد شده {{this.registerForm.controls.email.value}} تکراری می باشد." icon="" this.sweetAlert.confirmButtonText="باشه 2" this.sweetAlert.confirmButtonColor="">
</swal>