<div class="master-wrapper">



    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
    <app-index-slider></app-index-slider>
    <!-- /slider revolution -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <app-index-special-products></app-index-special-products>
    <!-- /container -->

    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <app-index-new-products></app-index-new-products>
    <!-- /new products -->

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <app-index-popular-products></app-index-popular-products>
    <!-- /most popular -->

    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <app-index-lastest-news></app-index-lastest-news>
    <!-- /latest news -->

    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
    <app-index-brands></app-index-brands>
    <!-- /brands carousel -->





</div>
<!-- end of master-wrapper -->